.in {
    display: flex;
    justify-content: center;
}

input {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
    width: 25%;
}

button {
    width: 10%;
    min-height: 57px;
    border-radius: 0;
    background: #208def;
    color: #fff;
    font-weight: 600;
}