div .cus form .row-us {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-right: -15px;
    margin-left: -15px;
}

 /* input {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
    width: 25%;
} */

form {
    width: 65%;
    margin: 5% 15%;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
}

form input {
    padding: 15px;
    margin: 10px 20px;
    width: 43%;
}

form textarea {
    padding: 12px 15px;
    width: 90%;
    height: 50px;
    border: 1px solid rgb(207, 207, 207);
}


form button {
    background: #428bca;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    width: auto;
    margin-top: 15px;   
}