.one{
    display: flex;
}

.img-one img{
    padding: 0.25rem;
    background-color: #f8fafc;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    margin-left: 10%;
    
}

.one .onepara{
    width: 45%;
    margin-left: 10%;
}

.one .onepara .title{
    padding: 0 10%;
    text-align: left;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
    padding-bottom: 15px;
}

.one .onepara .description{
    text-align: justify;
    padding: 0 10%;
    line-height: 24px;
    font-size: 14px;
}

